PRODUCT_BUNDLE_IDENTIFIER = dev.geeky.AuthMyMac
MACOSX_DEPLOYMENT_TARGET = 26.0
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
ENABLE_APP_SANDBOX = YES
CODE_SIGN_ENTITLEMENTS = Configuration/AuthMyMac.entitlements
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Configuration/Info.plist
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
